h1{
    border-width:5px;
    border-style: solid;
    border-color:white;
    border-bottom-color:red;
    font-size:40px;
    font-style: italic;

}

h2{
    text-transform: uppercase;
    font-size:22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
    margin:3px 0px;
}

#link{
    text-decoration: none;
    color:black;
}

#articles{
    float:right;
    width:30%;
    margin-bottom:5px;
    
}


#quote
{
    width:80%;
    font-size: 45px;
    border-left:10px solid red;
    padding-left:5px;
}
