nav
{
    background-color:red;
    height:40px;
    padding:3px 0px 9px 0px;
    margin:0px auto 0px auto;
    text-align:center;
    
    
}
nav li
{
    display:inline;
    padding:0px;
    margin:0px 10px;
    font-size:20px;
    text-transform:uppercase;
    color:white;
    font-family:sans-serif;

    

}
#title,#title2{
    
    position: absolute;
    margin:0px auto 0px auto;
    left:0;
    right:0;
    top:30px;
    text-align: center;
    font-size:45px;
    font-weight: bold;
    font-style:italic;
    color:white;
    text-shadow:3px 3px black;
    font-family:serif;
    
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
}
a:active{
    color:blue;
}

#current{
    color:purple;
}

.footer{
     
    color: white;
    width: 100%;
    background: rgb(17, 17, 17);
    display: flex;
    
}
footer .box{
    flex-basis: 50%;
    margin: 10px 10px 10px 10px;
    font-size: 20px;
    color: white;
}
footer h2{
    font-size: 25px;
}
footer hr{
    margin-right: 80px;
}
.fa:hover{
    background: #f12020;
}
.left .icons a {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    border-radius: 5px;
}
.center li{
    margin-top: 10px;
}
.content p{
    text-align: justify;
    margin-right: 50px;
}
.right form input{
    height: 45px;
    width: 80%;
    background: rgb(72, 72, 72);
    border: 1px solid #222222;
    margin-top: 10px;
    color: white;
    font-size: 20px;

}   

.right form button{
    height: 45px;
    margin-top: 10px;
    width: 80%;
    border: none;
    background: #f12020;
    color: white;
    font-size: 25px;
    font-weight: 500;
}
.right form button:hover{
    background: black;
}
.crs{
    font-size: 20px;
    bottom: 0px;        
    color: white;
    height: 50px;
    width: 100%;
    background: rgba(255, 0, 0,1);
    position: relative;
}

.btn{
    width:300px;
}


