h1{
    border-width:5px;
    border-style: solid;
    border-color:white;
    border-bottom-color:red;
    font-size:40px;
    font-style: italic;

}

h2{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    margin:0px;
}

#link{
    text-decoration: none;
    color:black;
}

#articles{
    
    float:right;
    width:30%;
    
}


pre{
    margin-top: 2px;;
}