
nav
{
    background-color:red;
    height:40px;
    padding:3px 0px 9px 0px;
    margin:0px auto 0px auto;
    text-align:center;
    
}
nav li
{
    display:inline;
    padding:0px;
    margin:0px 10px;
    font-size:20px;
    text-transform:uppercase;
    color:white;

}
#title{
    position:absolute;
    margin:0px auto 0px auto;
    top:30px;
    left:850px;
    font-size:45px;
    font-weight: bold;
    font-style:italic;
    color:white;
    text-shadow:3px 3px black;;
    
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
}
A:active{
    color:blue;
}
article{
    width:60%;
    position:relative;
    margin:0px auto 0px auto;
    border-width:0px 5px 0px 5px;
    border-color:rgba(0,0,0,0.4);
    border-style:inset;
}


h1{
    font-size:35px;
    text-align:center;
}
p{
    font-size:20px;
    font-family:Helvetica,sans-serif;
    padding:0px 10px 0px 10px;;
}
blockquote{
    font-size:22px;
    font-weight:bold;

}
h2{
    font-size:25px;
    padding:0px 10px 0px 10px;
}

article li{
    font-size:20px;
}


