
nav
{
    background-color:red;
    height:40px;
    padding:3px 0px 9px 0px;
    margin:0px auto 0px auto;
    text-align:center;
    
}
nav li
{
    display:inline;
}

li
{
    padding:0px;
    margin:0px 10px;
    font-size:20px;
    text-transform:uppercase;
    color:white;

}
#title{
    position:absolute;
    margin:0px auto 0px auto;
    top:30px;
    left:850px;
    font-size:45px;
    font-weight: bold;
    font-style:italic;
    color:white;
    text-shadow:3px 3px black;;
    
}
a{
    text-decoration:none;
    color:white;
}
a:hover{
    text-decoration:underline;
}
A:active{
    color:blue;
}
article{
    width:60%;
    position:relative;
    margin:0px auto 0px auto;
    border:2px solid black;;
}
h1{
    font-size:45px;
    text-align:center;
}



